on:
  push:
    branches:
      - main
  pull_request:

name: Checks
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.22
        id: go

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install gofumpt
        run: go install mvdan.cc/gofumpt@v0.4.0

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@v0.6.1

      # - name: Install golangci-lint
      #   run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.51.2

      - name: Lint
        run: make lint

      - name: Build
        run: make build build-tee

      - name: Ensure go mod tidy runs without changes
        run: |
          go mod tidy
          git diff-index HEAD
          git diff-index --quiet HEAD

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.22
        id: go

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test
        run: make test
